<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @meeting.body %>
</p>

<p>
  <strong>Schedule date:</strong>
  <%= @meeting.schedule_date %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @meeting.purpose %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @meeting.duration %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
