<%=react_component("ShowM", {
  meeting: @meeting,
  follow_ups: @meeting.follow_ups,
  follow_ups_any: @meeting.follow_ups.any?,
  url: "/meetings"
  })%>
  <%= form_for([@meeting, @follow_up]) do |f|%>
    <p><%= f.text_field :body%></p>
    <p><%= f.date_field :date%></p>
    <%=f.submit%>
    <%end%>
<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
