<!DOCTYPE html>
<html>
  <head>
    <title>Atzenta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <header>
  <%= react_component("Header", { variable: "Header", link: "/articles"  }) %>
  </header>

  <body>
  <%= react_component "Fecha"%>  
  <p id="notice"><%=notice%></p> 
  <p class="alert"><%= alert%></p>
  <%if user_signed_in?%>
  <%=react_component("Session", {email: current_user.email, url: "/users"})%>  
<% else %>  
  <%=react_component("LinkLogin", {url: "/users"})%>
<% end %>   
  <%= yield %>
  </body>
</html>
