<!DOCTYPE html>
<html>
  <head>
    <title>Atzenta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <header>
  
  <%= react_component("Header", { variable: "Header" }) %>
  </header>

  <body>
<<<<<<< HEAD
  <%= react_component("Fecha")%>
  <div class="centro">
  </div>
=======
  <%= react_component "Fecha"%>  
>>>>>>> b7840b40361c8f899c12b72cb768206225f37156
    <%= yield %>
  </body>
</html>
