<!DOCTYPE html>
<html>
  <head>
    <title>Atzenta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag "Header" %>
  </head>
  <header>
  
  <%= react_component("Header", { variable: "Header" }) %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
